:root{
    --primary-color:#9CA3AF;
}
    
    body{
        padding: 0px;
        margin: 0px;
        background-image: url(bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    textarea{
      
        background-color: var(--primary-color);
        color: black;
        font-size: 45px;
        border: 2px solid black;
        height:30rem;
        width: 40%;
       padding: 4px;
       
    }

    #output{ 
        margin: 10px;
      float: right;
     
        border: 2px solid black;
        background-color:var(--primary-color);
        color: black;
        font-size: 45px;
    width: 40%;
    height:30rem;
    padding: 4px;
       }


#title{
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
}

#bu{
    background-color: var(--primary-color);
    font-size: 30px;
    border-radius: 30px;
    padding: 2px;
    text-decoration: none;
   margin-top: 20rem;
   margin-left: 5%;
 
}
#txt-input{
    margin-top: 30px;
    float: left;
}




